body {
    background-color: #008B8B;
}
h1 {
    background-color: #000;
    text-align: center;
    font-family: "Quicksand";
    color: #fff;
    font-size: 50px;
}
h2 {
    display: block;
    font-family: "Quicksand";
    color: #eee;
    font-size: 20px;
}
div.form-information{
    display: block;
    text-align: center;
    padding: 5%;
}
input.form-input{
    height:20px;
    font-size:16pt;
}