.timetable {
    margin-right: auto;
    margin-left: 35%;
}
.timeRow {
    margin: 0;
}

.timeCell {
    background-color: white;
    height: 5px;
    padding: 5px 20px;
    margin: 0;
}

.classTime {
    background-color: lightgreen;
}

.timeDup {
    background-color: red;
}
