.timetable {
    margin: auto;
    margin-top: 3%;
    padding-bottom: 150px;
}

.timeRow {
    margin: 0;
}

.timeCell {
    background-color: white;
    height: 5px;
    padding: 5px 20px;
    border: 2px solid black;
    margin: 0;
}

.classTime {
    background-color: lightgreen;
}

.timeDup {
    background-color: red;
}

.deleteButton {
    margin: 0 0 0 6px;
    color: red;
}

.courseNameButton {
    border: none;
    background: none;

}