table {
    align-self: center;
}
.timeRow {
    margin: 0;
}

.timeCell {
    background-color: white;
    height: 5px;
    padding: 5px 20px;
    margin: 0;
}

.classTime {
    background-color: lightgreen;
}

.timeDup {
    background-color: red;
}